/* THEME SETTING */
:root {
    --theme-color: #25C78C;
    --theme-font: 'Inter', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p,
a,
span {
    margin: 0px;
    padding: 0px;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -font-smoothing: antialiased;
    font-family: 'Noto Sans JP', sans-serif;
    line-height: 1.4;
    font-size: 18px;
    color: #4E4B61;
    font-weight: 400;
    font-family: var(--theme-font);
}

body.no_scroll {
    overflow: hidden;
}

a {
    color: inherit;
}

a,
button,
input[type=submit],
select {
    cursor: pointer;
    transition: all 0.3s ease;
}

a,
a:hover,
a:focus,
button,
button:hover,
button:focus,
input,
input:hover,
input:focus,
textarea,
textarea:hover,
textarea:focus,
select,
select:hover,
select:focus {
    outline: 0;
    box-shadow: none;
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}


h2 {
    font-size: 48px;
    color: #29263C;
    font-weight: 900;
    line-height: 1.4;
}

h2 span.blue {
    color: #6551E0;
}

h2 span.green {
    color: #26AD60;
}

h3 {
    font-size: 30px;
    color: #6551E0;
}

h4 {
    font-size: 24px;
    color: #1D352D;
}

h5 {
    font-size: 20px;
    color: #1D352D;
}

.container {
    max-width: calc(1448px + 30px);
    padding: 0 20px;
}

.row {
    margin: 0 -15px;
}

.row>[class*="col"] {
    padding: 15px;
}

/* HEADER */
.site_header {
    padding: 20px 0;
    position: relative;
    z-index: 999;
}

.site_header .navbar {
    padding: 0;
}

.site_header .navbar-brand {
    display: block;
    width: 28%;
    max-width: 301px;
    padding: 0;
}

.site_header .navbar-nav {
    align-items: center;
}

.site_header .nav-item:not(:first-child) {
    margin-left: 45px;
}

.site_header .navbar-expand-lg .navbar-nav .nav-link {
    padding: 0;
}

.site_header .nav-link {
    color: #004C3D;
}

.site_header .nav-item .nav-link.active,
.site_header .nav-item:hover .nav-link {
    color: #6551E0;
}

.site_header .nav-item.bttn .nav-link {
    background-color: var(--theme-color);
    color: #FFFFFF;
    padding: 18px 31px;
    line-height: 1;
    border-radius: 10px;
    text-align: center;
}

.site_header .nav-item.bttn .nav-link:hover,
.site_header .nav-item.bttn .nav-link:focus {
    background-color: #6551E0;
}

.site_header .dropdown-toggle::after {
    content: '\f078';
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    border: none;
    vertical-align: 0;
    font-size: 10px;
    line-height: 1;
    vertical-align: middle;
    padding-bottom: 4px;
}
.site_header .navbar-nav .dropdown-menu {
    border: none;
    background-color: #fdfdfd;
    box-shadow: 0px 0px 50px 10px #00000014;
    padding: 0;
}
.site_header .navbar-nav .dropdown-item{
    font-size: 18px;
    padding: 10px 15px;
}
.site_header .navbar-nav .dropdown-item:hover,
.site_header .navbar-nav .dropdown-item:focus{
    background-color: transparent;
    color: #6551E0;
}
.site_header .navbar-toggler {
    width: 50px;
    height: 40px;
    padding: 0;
    border: none;
    position: relative;
    box-shadow: none;
    z-index: 1;
}

.site_header .navbar-toggler-icon {
    position: absolute;
    display: block;
    left: 50%;
    right: 50%;
    transform: translate(-50%);
    width: 80%;
    height: 4px;
    border-radius: 4px;
    transition: all 0.3s ease;
    background-color: #25c78c;
}

.site_header .navbar-toggler-icon:before,
.site_header .navbar-toggler-icon:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #25c78c;
    border-radius: 4px;
    display: block;
    transition: all 0.3s ease;
}

.site_header .navbar-toggler-icon:before {
    top: -10px;
}

.site_header .navbar-toggler-icon:after {
    bottom: -10px;
    width: 50%;
}

.site_header .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    background-color: transparent;
}

.site_header .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
    top: 0;
    transform: rotate(-45deg);
}

.site_header .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
    bottom: 0;
    width: 100%;
    transform: rotate(45deg);
}



/* ABOUT SECTION */
.about_section {
    position: relative;
}

.about_section:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 60px;
    display: table;
    width: 100%;
    max-width: 1600px;
    margin: auto;
    height: 100%;
    background-image: url('../images/about_bg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: -1;
}
.about_sub_section{
    position: relative;
    z-index: 1;
}
.about_solution_section {
    width: 100%;
    max-width: 1300px;
    padding: 95px 0 195px;
    margin: auto;
}

.about_solution_section h2 {
    margin-bottom: 35px;
    color: #1C2522;
}

.about_solution_section p {
    margin-bottom: 41px;
}

.about_solution_section a {
    display: inline-block;
    padding: 16px 24px;
    background-color: #25C78C;
    color: #FFFFFF;
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
}

.about_solution_section a svg {
    margin-left: 8px;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about_solution_section a:hover,
.about_solution_section a:focus {
    background-color: #6551E0;
}
.about_solution_section .img_block{
    padding: 7px 26px 0 0;
}
.about_solution_section .imgs_col {
    position: relative;
}
.about_solution_section .imgs_col:after {
    content: '';
    position: absolute;
    top: 66px;
    left: -264px;
    right: 0;
    bottom: -25px;
    background-image: url('../images/line_shape.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.about_solution_section img.main_img {
    position: relative;
    z-index: 1;
    width: 82%;
    max-width: 578px;
    margin: auto;
}

.about_solution_section img.pattern_img {
    position: absolute;
    top: 62px;
    right: 42px;
    width: 70%;
    max-width: 512px;
}

.about_form_section {
    position: relative;
    width: 100%;
    padding: 92px 0;
    max-width: 1304px;
    margin: auto;
}

.about_form_section:before {
    content: '';
    position: absolute;
    left: -30px;
    bottom: 30px;
    width: 62%;
    height: 80%;
    background-image: url(../images/about_form_bgline.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    z-index: -1;
}
.about_form_section .form_col{
    margin: auto;
}
.form_tabs {
    position: relative;
    width: 100%;
    max-width: 649px;
    border-radius: 20px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 50px 10px #00000014;
    padding: 20px 36px 40px;
}

.form_tab_indicator {
    width: auto;
}

.form_tab_indicator .form_group {
    position: relative;
}

.form_tab_indicator .form_group input {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
    z-index: 1;
}

.form_tab_indicator label {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    color: #1D352D;
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    padding-bottom: 16px;
    border-bottom: 2px solid #1D352D;
}

.form_tab_indicator input:checked~label {
    color: #25C78C;
    border-color: #25C78C;
}

.form_tab_indicator label:before {
    content: '';
    width: 24px;
    height: 24px;
    border: 2px solid #1D352D;
    border-radius: 50%;
    margin-right: 18px;
    transition: all 0.1s ease;
}

.form_tab_indicator input:checked~label:before {
    border-width: 5px;
    border-color: #25C78C;
}

.form_tab_indicator label svg {
    width: 30px;
    height: 30px;
    margin-right: 14px;
}

.form_tab_indicator input:checked~label svg path {
    fill: #25C78C;
}

.form_tab_panel p {
    color: #1D352D;
    font-size: 18px;
    font-weight: 400;
}

.form_tab_panel p span {
    color: #25C78C;
}

.form_tab_panel>p {
    color: #000000;
    width: 100%;
    max-width: 278px;
    margin: 0 0 30px;
}

.form_tab_panel .form_group {
    width: 100%;
    margin-bottom: 20px;
}

.form_tab_panel .form_group label {
    display: block;
    margin-bottom: 8px;
    color: #1D352D;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form_tab_panel .form_group label a {
    color: #25C78C;
}

.form_tab_panel .form_group label a:hover,
.form_tab_panel .form_group label a:focus {
    text-decoration: underline;
}

.form_tab_panel .form_group input {
    width: 100%;
    padding: 16px 20px;
    border: 1px solid #809C97;
    border-radius: 8px;
    color: #596662;
}

.form_tab_panel .form_group input:focus {
    border-color: #25C78C;
}

.form_tab_panel .form_group input::placeholder {
    color: #C6D1CE;
}

.form_tab_panel .form_group input:disabled {
    background-color: #CACACA;
}

/* Chrome, Safari, Edge, Opera */
.form_tab_panel .form_group input[type=number]::-webkit-outer-spin-button,
.form_tab_panel .form_group input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.form_tab_panel .form_group input[type=number] {
    appearance: none;
    -moz-appearance: textfield;
}

.form_tab_panel .form_submit input {
    background-color: #26AD60;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    display: block;
    width: 100%;
    text-align: center;
    padding: 15px;
    border: none;
    border-radius: 8px;
    transition: all 0.3s ease;
    margin-top: 30px;
}

.form_tab_panel .form_submit input:hover,
.form_tab_panel .form_submit input:focus {
    background-color: #6551E0;
}

.form_tab_panel .form_typo {
    margin-top: 18px;
}

.form_tab_panel .form_typo a {
    text-decoration: underline;
    color: #26AD60;
}
.form_tab_panel .form_typo a:hover {
    color: #6551E0;
}

.about_form_section h2 {
    color: #1D352D;
    margin-bottom: 30px;
}

.about_form_section p {
    color: #424B48;
}
.form_txt_block{
    padding: 0 33px;
}
.form_txt_block h2{
    text-transform: capitalize;
    letter-spacing: -0.5px;
}
.form_txt_block p{
    line-height: 1.5;
}
.solar_section {
    position: relative;
}

.solar_section:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    width: 100%;
    max-width: 1600px;
    height: 89%;
    display: table;
    margin: auto;
    background-image: url('../images/solar_bg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: -1;
}

.solar_whychose_section {
    position: relative;
    width: 100%;
    padding: 85px 0;
    z-index: 1;
}

.solar_whychose_section .head {
    text-align: center;
    margin-bottom: 58px;
}
.solar_whychose_section .head h2 {
    font-weight: 800;
    text-transform: capitalize;
}
.solar_whychose_text_col{
    margin: auto;
}
.solar_whychose_text_col h2 {
    width: 100%;
    max-width: 585px;
    margin-bottom: 30px;
    line-height: 1.3;
}
.solar_whychose_text_col p{
    width: 100%;
    max-width: 555px;
}
.solar_whychose_img_col {
    position: relative;
    margin: auto;
}
.solar_whychose_img_block{
    padding-top: 12px;
}
.solar_whychose_img_col img{
    width: 100%;
    max-width: 775px;
    margin-left: auto;
}
.solar_whychose_img_col .yearly_bill_txt {
    position: absolute;
    top: 12px;
    right: 83px;
    background-color: #EAEFFF;
    box-shadow: 0 8px 50px rgba(0, 0, 0, 0.1);
    padding: 43px 30px;
    border-radius: 10px;
    width: 50%;
    max-width: 233px;
}

.solar_whychose_img_col .yearly_bill_txt h4 {
    color: #4E4B61;
    text-align: center;
}

.solar_bridge_section {
    position: relative;
    width: 100%;
    padding: 18px 0;
    background-image: url('../images/solar_bridge_bgline.png');
    background-size: 80%;
    background-position: center 85%;
    background-repeat: no-repeat;
    z-index: 1;
}

.solar_bridge_section .head {
    width: 100%;
    margin-bottom: 58px;
    text-align: center;
}

.solar_bridge_section .head h2 {
    width: 100%;
    margin-bottom: 24px;
}

.solar_bridge_section .head p {
    width: 100%;
    max-width: 555px;
    margin: auto;
    line-height: 1.6;
}

.solar_bridge_section .row {
    margin: 0 -15px;
}

.solar_bridge_section .col {
    padding: 15px;
}

.solar_bridge_bx {
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    text-align: center;
    padding: 36px;
    border-radius: 10px;
}

.solar_bridge_bx .icon {
    margin-bottom: 30px;
    width: 94px;
    height: 94px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}

.solar_bridge_bx h3 {
    color: #6551E0;
    margin-bottom: 18px;
}

.solar_bridge_bx p {
    line-height: 1.65;
}

.solar_power_section {
    position: relative;
    width: 100%;
    padding: 60px 0 0;
    z-index: 1;
}
.solar_power_cont_col, .solar_power_list_col{
    margin: 0 auto;
}
.solar_power_section h2 {
    width: 100%;
    max-width: 568px;
    margin-bottom: 24px;
    text-transform: capitalize;
}

.solar_power_section p {
    width: 100%;
    max-width: 518px;
    line-height: 1.65;
}

.solar_power_section .imgs {
    display: flex;
    align-items: center;
    margin-top: 48px;
}

.solar_power_section .imgs .img2 {
    margin-left: -20px;
}
.solar_power_listing{
    width: 100%;
    max-width: 585px;
    margin: auto;
    padding-top: 16px;
}
.solar_power_listing ul {
    position: relative;
}

.solar_power_listing li {
    display: flex;
}

.solar_power_listing li:not(:last-child) {
    padding-bottom: 58px;
    position: relative;
}

.solar_power_listing li:not(:last-child):before {
    content: '';
    position: absolute;
    left: 48px;
    top: 0;
    bottom: 0;
    /* height: calc(100% - 96px); */
    border-left: 1px dashed #3D67FF;
}

.solar_power_listing .icon {
    width: 96px;
    height: 96px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E0DCF9;
    border-radius: 50%;
    margin-right: 24px;
    position: relative;
}

.solar_power_listing .icon svg {
    width: 48px;
    height: 48px;
}

.solar_power_listing .txt {
    flex: 1 0 0;
}

.solar_power_listing .txt h3 {
    color: #29263B;
    font-weight: 700;
    margin-bottom: 18px;
}

.solar_power_listing .txt p {
    line-height: 1.65;
    width: 100%;
    max-width: 457px;
}
.customer_journy{
    position: relative;
}
.customer_journy:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    max-width: 1378px;
    height: 100%;
    display: table;
    margin: auto;
    background-image: url('../images/customer_journy_bg.png');
    background-repeat: no-repeat;
    background-size: 80% 100%;
    background-position: bottom;
    z-index: -1;
}
.customer_journy_sub{
    position: relative;
    z-index: 1;
}

.customer_section {
    position: relative;
    padding: 100px 0 76px;
    width: 100%;
    max-width: 1298px;
    margin: auto;
    z-index: 1;
}

.customer_section .head {
    text-align: center;
    margin-bottom: 72px;
}

.customer_section .map {
    width: 100%;
    height: 0;
    padding-top: 45.8%;
    position: relative;
    border: 5px solid #FFFFFF;
    box-shadow: 0 18px 40px rgba(155, 174, 167, 0.6);
    border-radius: 20px;
    overflow: hidden;
}

.customer_section .map iframe {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.map_identity_bx {
    background-color: #FFFFFF;
    position: absolute;
    right: 103px;
    bottom: 51px;
    width: 100%;
    max-width: 370px;
    border-radius: 10px;
    padding: 18px;
}

.map_identity_bx .img {
    width: 100%;
    height: 0;
    padding-top: 62%;
    position: relative;
    margin-bottom: 20px;
}

.map_identity_bx .img img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.map_identity_bx .head {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 18px;
}

.map_identity_bx p {
    line-height: 1.65;
}
.map_identity_bx .rating {
    color: #25C78C;
}

.map_identity_bx p a {
    color: #25C78C;
}

.journy_section {
    position: relative;
    width: 100%;
    max-width: 1164px;
    margin: auto;
    padding: 0;
    z-index: 1;
}

.journey_head_col h2 {
    margin-bottom: 30px;
}

.journey_head_col p {
    margin-bottom: 36px;
    width: 100%;
    max-width: 464px;
}

.journey_head_col a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #25C78C;
    font-weight: 600;
}

.journey_head_col a svg {
    margin-left: 14px;
}

.journey_service_col {
    padding-left: 24px;
    padding-right: 24px;
}
.journey_service_col .row{
    padding-top: 10px;
}
.journey_service_col .row {
    margin-left: -24px;
    margin-right: -24px;
}

.journey_service_col .row>[class*="col"] {
    padding-left: 24px;
    padding-right: 24px;
}

.journey_service_bx_col:first-child {
    transform: translate(0, 50%);
}

.journey_service_bx_col:nth-child(3) {
    margin-left: auto;
}

.journey_service_bx {
    box-shadow: 0px 18px 48px 0px #9BAEA740;
    border-radius: 10px;
    padding: 36px 44px;
    background-color: #FFFFFF;
    color: #25C78C;
    text-align: center;
    width: 100%;
    height: 100%;
}

.journey_service_bx.green_bx {
    background-color: #25C78C;
    color: #FFFFFF;
}

.journey_service_bx .icon {
    width: 100px;
    max-width: 100%;
    height: 100px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.journey_service_bx .icon svg path {
    fill: #25C78C;
}

.journey_service_bx.green_bx .icon svg path {
    fill: #FFFFFF;
}

.journey_service_bx h2 {
    color: #25C78C;
    margin: 16px 0 28px;
    font-weight: 600;
}

.journey_service_bx.green_bx h2 {
    color: #FFFFFF;
}

.journey_service_bx p {
    font-size: 24px;
}

.faq_section {
    padding: 77px 0 70px;
}

.faq_sub_section {
    width: 100%;
    max-width: 1028px;
    margin: auto;
}

.faq_section .head {
    text-align: center;
    margin-bottom: 42px;
}

.faq_section .accordion-item {
    border-width: 0 0 1px;
    border-style: solid;
    border-color: #C2CAC7;
    padding: 0;
}

.faq_section .accordion-item:last-child {
    border: none;
}

.faq_section .accordion-item .accordion-button {
    padding: 24px 0;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.5;
    color: #1D352D;
    box-shadow: none;
    outline: 0;
}

.faq_section .accordion-item .accordion-button:not(.collapsed) {
    background-color: transparent;
    box-shadow: none;
    color: #25C78C;
}

.faq_section .accordion-item .accordion-button:after {
    content: '\2b';
    font-family: 'Font Awesome 6 Free';
    font-weight: 600;
    background: none;
    color: #1D352D;
    line-height: 0.8;
}

.faq_section .accordion-item .accordion-button:not(.collapsed):after {
    content: '\f068';
    color: #25C78C;
}

.faq_section .accordion-item .accordion-body {
    padding: 0 0 15px;
}

.faq_section .accordion-item .accordion-body p {
    color: #424B48;
    line-height: 2.1;
}

.site_footer {
    padding: 83px 0 54px;
}

.footer_about img.logo {
    height: 69px;
    margin-bottom: 30px;
}

.footer_about p {
    color: #959595;
    width: 100%;
    max-width: 453px;
    line-height: 2;
    margin-bottom: 18px;
}

.footer_about a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #25C78C;
    font-weight: 600;
}

.footer_about a svg {
    margin-left: 14px;
}

.footer_links{
    padding: 20px 0 0 70px;
}
.footer_links h4 {
    color: #424B48;
    font-weight: 500;
    margin-bottom: 44px;
}

.footer_links ul li {
    display: flex;
    color: #959595;
    font-weight: 400;
    font-size: 18px;
    line-height: 2;
}

.footer_links ul li:not(:first-child) {
    margin-top: 5px;
}

.footer_links ul li a:hover {
    color: #25C78C;
}

.footer_links ul li svg {
    width: 20px;
    height: 20px;
    margin: 7px 14px 0 0;
}

.footer_bottombar {
    margin-top: 65px;
    border-top: 1px solid #9A9F9E;
}

.footer_bottom_links ul {
    display: flex;
}

.footer_bottom_links ul li:not(:first-child) {
    margin-left: 36px;
}

.footer_bottom_links ul li a {
    color: #424B48;
    font-size: 18px;
}

.footer_bottom_links ul li a:hover {
    color: #25C78C;
}

.footer_social ul {
    display: flex;
    justify-content: flex-end;
}

.footer_social ul li:not(:first-child) {
    margin-left: 30px;
}

.footer_social ul li a {
    color: #424B48;
    font-size: 20px;
}

.footer_social ul li a:hover {
    color: #25C78C;
}






/* RESPONSIVE */
@media (max-width: 1366px) {
    .solar_power_section .imgs{
        flex-wrap: wrap;
    }
    .solar_power_section .imgs img{
        padding: 5px;
    }
    .solar_power_section .imgs .img2{
        margin-left: 0;
    }
}
@media (max-width: 1199px) {
    .site_header .nav-item:not(:first-child) {
        margin-left: 30px;
    }
    .map_identity_bx{
        padding: 10px;
        max-width: 280px;
    }
    .map_identity_bx{
        right: 40px;
        bottom: 10px;
    }
    .map_identity_bx .img,
    .map_identity_bx .head{
        margin-bottom: 10px;
    }
    .map_identity_bx .head h5{
        font-size: 16px;
    }
    .map_identity_bx .rating{
        font-size: 14px;
    }
    .map_identity_bx p{
        font-size: 14px;
    }
    .journey_service_bx{
        padding: 30px;
    }
}
@media (max-width: 991px) {
    .site_header .navbar-collapse {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        max-width: 280px;
        height: 100%;
        background-color: #FFF;
        padding-top: 94px;
        box-shadow: 10px 0px 50px 10px #00000014;
        transition: all 0.3s ease;
        transition-delay: 0s;
        transform: none;
    }
    .site_header .navbar-collapse.collapse:not(.show){
        display: block;
        transform: translate(100%, 0);
    }
    .site_header .nav-item{
        display: block;
        width: 100%;
        padding: 15px 30px;
    }
    .site_header .nav-item:not(:first-child){
        margin: 0;
    }
    .site_header .navbar-nav .dropdown-menu{
        box-shadow: none;
    }
    .about_solution_section{
        padding: 30px 0 180px;
        text-align: center;
    }
    .about_solution_section img.pattern_img{
        left: auto;
        right: 15px;
        transform: none;
    }
    .about_form_section{
        padding: 60px 0;
    }
    .about_form_section:before{
        width: 90%;
        height: 60%;
        left: 5%;
    }
    .about_form_section .form_txt_col{
        margin-bottom: 30px;
    }
    .about_form_section h2,
    .about_form_section p{
        text-align: center;
    }
    .form_tabs{
        margin: auto;
    }
    .solar_whychose_text_col{
        margin-bottom: 50px;
        text-align: center;
    }
    .solar_whychose_text_col h2{
        max-width: none;
        text-align: center;
    }
    .solar_whychose_text_col p{
        margin: auto;
    }
    .solar_whychose_section,
    .solar_bridge_section,
    .solar_power_section{
        padding: 30px 0;
    }
    .solar_whychose_section .head{
        margin-bottom: 80px;
    }
    .solar_bridge_section .head{
        margin-bottom: 30px;
    }
    .solar_power_section{
        padding: 30px 0;
    }
    .customer_section > .head{
        margin-bottom: 50px;
    }
    .customer_section .map{
        padding-top: 50%;
    }
    .solar_power_cont_col{
        margin-bottom: 50px;
    }
    .solar_power_cont_col h2{
        max-width: none;
        text-align: center;
    }
    .solar_power_cont_col p{
        margin: auto;
        text-align: center;
    }
    .solar_power_section .imgs .img1{
        width: 40%;
    } 
    .solar_power_section .imgs .img2{
        width: 60%;
    } 
    .journey_head_col{
        text-align: center;
    }
    .journey_head_col p{
        margin: auto auto 30px;
    }
    .faq_section .accordion {
        width: 100%;
        max-width: 800px;
        margin: auto;
    }
    .site_footer {
        padding: 50px 0 30px;
    }
    .footer_links{
        padding: 0;
    }
    .footer_links h4{
        margin-bottom: 20px;
    }
    .footer_bottombar{
        margin-top: 30px;
    }
}
@media (max-width: 767px){
    h2{
        font-size: 30px;
    }
    h3{
        font-size: 24px;
    }
    .about_form_section{
        padding: 30px 0;
    }
    .about_solution_section h2,
    .about_solution_section p,
    .about_form_section h2{
        margin-bottom: 15px;
    }
    .customer_section{
        padding: 30px 0;
    }
    .journy_section{
        padding: 30px 0;
    }
    .solar_sub_section:before{
        opacity: 0.5;
    }

    .solar_whychose_section .head{
        margin-bottom: 30px;
    }
    .solar_whychose_text_col h2,
    .solar_bridge_section .head h2,
    .solar_power_section h2{
        margin-bottom: 15px;
    }
    .solar_power_cont_col{
        margin-bottom: 15px;
    }
    .solar_power_section .imgs{
        margin-top: 15px;
    }
    .customer_section .head{
        margin-bottom: 30px;
    }
    .customer_section .map{
        padding-top: 100%;
    }
    .journey_service_bx_col:first-child,
    .journey_service_bx_col:nth-child(3){
        transform: none;
        margin: 0;
    }
    .faq_section{
        padding: 30px 0;
    }
    .about_solution_section .imgs_col:after {
        top: 140px;
        left: 0;
        right: 0;
        width: 82%;
    }
    .solar_power_listing li:not(:last-child):before {
        left: 37px;
    }
    .solar_power_listing .icon {
        width: 76px;
        height: 76px;
        margin-right: 15px;
    }
    .solar_power_listing .icon svg {
        width: 36px;
        height: 36px;
    }
    .solar_power_listing ul:before {
        left: 38px;
    }
    .journey_service_bx .icon {
        width: 80px;
        height: 80px;
    }
    .journey_service_bx h2 {
        margin: 6px 0 14px;
    }
    .solar_power_listing .txt h3 {
        margin-bottom: 8px;
    }
}
@media (max-width: 575px){
    .map_identity_bx{
        display: none;
    }
    .footer_about img.logo {
        height: 40px;
    }
    .footer_bottom_links ul {
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 10px 0;
    }
    .footer_bottom_links ul li {
        margin: 0 !important;
    }
    footer.site_footer p, footer.site_footer a {
        font-size: 16px;
    }
    .footer_social ul{
        justify-content: center;
    }
    .form_tabs {
        padding: 20px;
    }
    .form_tab_panel .form_group input {
        padding: 10px 20px;
    }
    .form_tab_panel .form_submit input {
        padding: 10px 15px;
    }
}